.base{
	height: 100%;
	width: 100%;
	background: none;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.Hijo {
	justify-content: center;
	background: none;
	width: 350px;
	height: 100%;
}

.Titulo{
	text-align: center;
	background-color: none;
	color: #f22e0b;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #616161;
}

.Campos{
	padding-top: 10px;
	background-color: none;
	border-bottom: 2px solid #616161;
	/*
	background-color: red;
	vertical-align: center;
	text-align: center;
	padding-bottom: 15px;*/
}


.button {
  background-color: #a4a4a4;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font: 150% sans-serif;
  padding: 10px 2px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 0px;
  width: 275px;
}

.button:hover {
	background-color: #cfcfcf;
}
.button:active {
	background-color: #616161;
}
.button:disabled {
	background-color: rgba(211, 211, 211, 0.226);
}

.divBoton{
	text-align: center;
	padding-bottom: 20px;
}


.TextArea{
	width: 100%;
  resize: both;
	resize: none;
  overflow: auto;
	/*border: none;*/
	/*background-color: transparent;*/
	color: #616161;
}

/*
.TextArea:valid {
	border: 2px solid #f22e0b;
}*/

.Logo{
	text-align: center;
}

.item9{
	/*border-bottom: red;*/
  grid-column: 1 / 3;
}

/* Grid para los campos */
.grid-container {
  display: grid;
  grid-template-columns: 20% 78%;
  grid-template-rows: 40px 40px 40px 40px 120px;
  grid-gap: 5px;
  /*background-color: #2196F3;*/
  padding: 5px;
  padding-left: 10px;
  align-items: center;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: left;
  padding: 5px 0;
  font-size: 15px;
}

/*
.item9 {
  grid-column: 1 / 3;
}*/



/* Grid para las imagenes */
.Container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px;
  grid-gap: 5px;
  /*background-color: #2196F3;*/
  padding: 5px;
  align-items: center;
}

.Container2 > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 25px 0;
  font-size: 10px;
}

.Imagenes{
	padding-top: 10px;
	padding-bottom: 20px;
}

.ImagenesFotos{
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.Imagen2{
	border-left: 2px solid #616161;
	border-right: 2px solid #616161; 
}


.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño columns: n scale(2). */
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
}