.Base{
	padding-left: 200px;
	padding-right: 200px;
}

.Title{
	margin-top: 20px;
	text-align: center;
}

.Logo{
	text-align: center;
}

.Volver{
	padding-top: 20px;
	padding-bottom: 80px;
	text-align: center;
}

/*Grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /*grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;*/
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
*/
  text-align: center;
 } 


.button {
  background-color: #a4a4a4;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font: 150% sans-serif;
  padding: 10px 2px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 0px;
  width: 275px;
}

.button:hover {
	background-color: #cfcfcf;
}

.button:active {
	background-color: #616161;
}

.divBoton{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño columns: n scale(2). */
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */

}



.ventana{
	background-color: #eae8e8;
	width: 30%;
	height: 400px;
	text-align: center;
	padding: 5px;
	border-radius: 15px;
	position: absolute;
	left: 15%;
	top: 8%;
	display: none;
}